{% unless page.no_header %}
  <header class="title">
  <h1 class="entry-title">{{ page.title }}</h1>
  {% unless page.meta == false %}
    <p class="meta">
      {{ page.date | date: "%Y-%m-%d" }}
      {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
      | <a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread">Comments></a>
      {% endif %}
    </p>
  {% endunless %}
  </header>
{% endunless %}
<div class="entry-content">{{ content }}</div>
