<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="author" content="{{ site.author }}">

  {% capture description %}{%if page.description %}{{ page.description }}{% else %}{{ site.title  }}{% endif %}{% endcapture %}
  <meta name="description" content="{{ description | strip_html }}">
  {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}

  {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' }}{% endif %}{% endcapture %}
  <link rel="canonical" href="{{ canonical }}">
  <link rel="icon" href="{{ root_url }}/favicon.ico">
  <link rel="stylesheet" href="{{ root_url }}/stylesheets/screen.css" media="screen, projection" type="text/css">
  <link rel="stylesheet" href="{{ root_url }}/stylesheets/pygment.css" media="screen, projection" type="text/css">
  <link rel="stylesheet" href="{{ root_url }}/stylesheets/icons.css" media="screen, projection" type="text/css">
  <!--[if lt IE 8]>
  <link rel="stylesheet" href="{{ root_url }}/stylesheets/icons_ie7.css" media="screen, projection" type="text/css">
  <![endif]-->
  <script src="{{ root_url }}/javascripts/jquery.min.js"></script>
  <link ref="alternate" href="{{ site.subscribe_rss }}" title="{{ site.title }}" type="application/atom+xml">
</head>
